CREATE TABLE IF NOT EXISTS public.sales (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  date TIMESTAMPTZ DEFAULT NOW(),
  items JSONB,
  total DECIMAL(10,2),
  payment_method TEXT,
  user_id UUID,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

ALTER TABLE public.sales DISABLE ROW LEVEL SECURITY;

CREATE TABLE IF NOT EXISTS public.product_history (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  product_id UUID REFERENCES public.products(id) ON DELETE CASCADE,
  type TEXT,
  quantity INTEGER,
  reason TEXT,
  date TEXT,
  user_id UUID,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

ALTER TABLE public.product_history DISABLE ROW LEVEL SECURITY;

